/* App.css */

.container {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap onto the next line */
  justify-content: center;
  gap: 20px; /* Adjust the gap between cards as needed */
  margin-top: 20px; /* Add some top margin to separate the cards from the navbar */
}



.card {
  flex: 0 0 calc(20% - 20px); /* Calculate the width for maximum of 5 cards per row */
  /* Adjust the width and margin as needed to fit the desired number of cards per row */
  margin-bottom: 20px; /* Add bottom margin to separate rows */
}
.maintain-rooms-container {
  text-align: center;
  padding: 20px;
  background-color: hsl(0, 73%, 36%);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2px auto;
  max-width: 500px;
}
.maintain-rooms-container2 {
  text-align: left;
  padding: 10px;
  background-color: hsl(0, 34%, 63%);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0px auto;
  max-width: 500px;
}

.maintain-rooms-list {
  list-style: none;
  padding: 0;
}

.maintain-rooms-list li {
  margin-bottom: 5px;
  padding-left: 10px; /* Adjust as needed */
  font-family: 'Courier New', Courier, monospace; /* Fixed-width font */
  overflow-wrap: break-word; /* Add this line */
  word-wrap: break-word; /* Add this line for compatibility */
  box-sizing: border-box; /* Ensure padding and borders are included in the width */
}

.maintain-rooms-list li span.room {
  font-size: larger; /* Increase font size for the room number */
  font-weight: bold; /* Make the room number text bold */
}

.maintain-rooms-list li span.details {
  font-size: larger; /* Increase font size for the details */
  font-weight: bold; /* Make the text bold */
}
/* CSS */
.navbar {
  position: fixed; /* Fixed positioning */
  top: 0; /* Stick to the top of the viewport */
  width: 100%; /* Take up the full width of the viewport */
  z-index: 1000; /* Ensure the navbar appears above other content */
  background-color: #fff; /* Background color for the navbar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for depth */
}

/* Optional: Add padding to the body to prevent content from being obscured by the fixed navbar */
body {
  padding-top: 64px; /* Adjust according to the height of your navbar */
}


